@use '../../../Themes/theme1';
@import "../../../variables";
@import "../../../Themes/theme1";
@include angular-material-theme($candy-app-theme);
@import "../../../reset";
@import "../../breakpoints";
@mixin formulario($marginLeft) {
  color: $black;
  padding: 20px;
  border-radius: 5px;
  background-color: $transparentWhite;
  margin-left: $marginLeft;
}
@mixin wrong-field() {
  margin-left: 20px;
  margin-top: 40px;
  font-style: oblique;
  color: $warnColor;
}
// :host,
// :host-context(.mat-header) {
//   width: 50%;
// }

header {
  display: flex;
  align-items: center;
  background-position: center center;
  background: url("../../../cat1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@include media(mobile, sm, md) {
.formulario {
  @include formulario(0px);
}
}
@include media(desktop, lg) {
  .formulario {
    @include formulario(30%);
  }
  }

.show {
  opacity: 1;
  transition: opacity 1s;
  margin-right: 5px;
  padding-top: 2px;
}
.hide {
  opacity: 0;
  transition: opacity 1s;
}
.childrenWidth50 > * {
  width: $childrenWidth50;
}
.wrong-field {
  @include wrong-field();
}
.selectsGroup {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
@include media(mobile) {
  .selectsGroup {
    flex-flow: row wrap;
  }
  .miniSelect {
    width: 30%;
  }
}
@include media(sm, md, desktop, lg) {
  .mat-form-field,
  .mat-form-field-wrapper,
  .mat-form-field-*,
  .miniSelects,
  * {
    width: 100%;
  }
  .selectsGroup {
    flex-flow: row wrap;
    max-width: 550px;
  }
}
@include media(desktop, lg) {
  .appHotelsFormContainer {
    width: 100%;
  }
}

.leg {
  display: flex;
  .logo {
    width: 50px;
    height: 50px;
  }
  h1 {
    padding-top: 10px;
    margin-left: 10px;
    // margin-right: 20px;
    line-height: -20px;
  }
}
