<app-navbar></app-navbar>
<div class="container mt-5 mb-5 pb-6">
    <h1>Contact Us</h1>
    <div class="row">
        <div class="col-md-7">
            <p class="mt-3 mb-4">For any doubt about us or our services, please feel free to contact us by email, mailbox or phone:
            </p>
            <address>
                <strong>Safe Travels Inc.</strong><br>
                Rúa do Castiñeririño 39 <br>
                Santiago de Compostela 15702 <br>
                Spain <br>
                <abbr title="Telephone">Tel:</abbr> 7857275702
                <!-- <span :title="tel">Ph:</span> 7857275702 -->
            </address>
            <address class="mt-3">
                <strong>Contact us</strong><br>
                <a href="mailto:hello@safetravels.com">hello@safetravels.com</a>
            </address>
        </div>
        <div class="col-md-5">
            <img class="col-md-12" src="assets/misc/cs.webp" alt="">
        </div>
    </div>
</div>

<app-footer></app-footer>