<div class="container">
    <div class="row">
        <div class="col-md-12">
            <address>
                <strong>Safe Travels Inc.</strong><br>
                108 S 48th St #307<br>
                Philadelphia PA 19143 <br>
                <abbr title="Telephone">Tel:</abbr> 7857275702
            </address>
            <address>
                <strong>Contact us</strong><br>
                <a href="mailto:hello@safetravels.com">hello@safetravels.com</a>
            </address>
        </div>
    </div>