@import "../../../variables";
@import "../../breakpoints";
footer {
    //border-top: 1px solid #999;
    // margin-top: 30px;
    padding-top: 10px;
    background-color: #e0e0e0;
    // background-color: #393939;
    // background: #ffffff;
    // box-shadow: 10px 10px 20px #d9d9d9, -10px -10px 20px #ffffff;
    .row {
        margin-top: 10px;
        // border-radius: 36px;
        // background: linear-gradient(145deg, #333333, #3d3d3d);
        // box-shadow: 15px 15px 31px #303030, -15px -15px 31px #424242;
        border-radius: 50px;
        background: #e0e0e0;
        box-shadow: 12px 12px 24px #c1c1c1, -12px -12px 24px #ffffff;
        display: flex;
        justify-content: center;
        // background-color: $black;
        // background-color: black;
        // color: whitesmoke;
        color: $black;
        height: 60px;
        padding-top: 20px;
        padding-bottom: 20px;
        a {
            font-size: 16px;
            font-weight: 600;
            padding-left: 15px;
            // color: whitesmoke;
            color: $black;
        }
    }
    .cols {
        line-height: 25px;
        padding-left: 30px;
        display: flex;
        padding-top: 10px;
        justify-content: space-around;
        .col {
            width: 80px;
            padding: 20px;

            display: flex;
            flex-direction: column;
            a {
                // color: rgb(83, 83, 83);
                // color: whitesmoke;
                color: $black;
            }
        }
    }
}
