<footer class="blackFooter">
    <div class="row footerRow">
        <a href="">Find us in </a>
        <a><i class="fab fa-facebook"></i> Facebook </a>
        <a href=""> <i class="fab fa-instagram"></i> Instagram</a>
        <a href=""><i class="fab fa-twitter"></i> Twitter</a>
    </div>
    <div class="cols footerCols">
    <div class="col col1">
        <p><b class="text-white">Get to know us</b></p>
        <a [routerLink]="['/safety-regulations']" routerLinkActive="router-link-active">Why we are safe</a>
        <a href="">Our vision</a>
        <a href="">Our mission</a>
        <a href="">Work with us!</a>
    </div>
    <div class="col col2">
        <p><b class="text-white">Reach us</b></p>
        <a href="">Any questions? Contact Us <i class="fas fa-headphones"></i></a>
        <a href="">Become a partner</a>
        <a href="">Advertise</a>
        <a href="">Rewards</a>
    </div>
    <div class="col col3">
        <p><b class="text-white">Your data and our data</b></p>
        <a href="">Terms & Conditions</a>
        <a>Privacy policy</a>
        <a href="">Cookies</a>
        <a>Press</a>
    </div>
    <div class="col col4">
        <p><b class="text-white">Other useful information</b></p>
        <a>Our affiliates </a>
        <a>Safety guide</a>
        <a href=""> Why Galicia</a>
        <a href="">Holiday destinations</a>
    </div>
</div>
</footer>