@import "../../../variables";
@import "../../breakpoints";
@include media(mobile, sm) {
    .footerRow {
        width: 98%;
        margin-left: 1.5%;
        margin-top: 10px;
        a {
            font-size: 13px;
        }
    }
    .cols.footerCols {
        display: flex;
        flex-direction: column;
        width: 100%;
        .col {
            display: flex;
            flex-direction: column;
            width: 100%;
            b {
                font-size: 14px;
            }
        }
    }
}
@include media(tablet) {
    .footerRow {
        width: 99%;
        margin-left: 3px;
        a {
            font-size: 16px;
            padding-top: 10px;
        }
    }
    .cols.footerCols {
        display: flex;
        flex-direction: row;
        .col {
            width: 80px;
            display: flex;
            flex-direction: column;
            b {
                font-size: 16px;
            }
        }
    }
}
.blackFooter {
    background-color: $black;
    .footerRow {
        background: #343a40;
        box-shadow: 6px 6px 12px #212528, -6px -6px 12px #474f58;
    }
}
// .transparentFooter{
//     background-color: rgba(255,255,255,0.06);
//     font-weight: 600;
//     color: white;
// }

footer {
    width: 100vw;
    padding-top: 1px;
    .footerRow {
        margin-top: 10px;
        justify-content: center;
        border-radius: 50px;
        color: $brokenWhite;
        height: 60px;
        padding-top: 20px;
        padding-bottom: 20px;
        a {
            font-weight: 600;
            padding-left: 15px;
            color: whitesmoke;
        }
    }
    .cols.footerCols {
        line-height: 25px;
        padding-left: 30px;
        display: flex;
        padding-top: 10px;
        justify-content: space-between;
        .col {
            padding: 20px;

            a {
                color: whitesmoke;
            }
        }
    }
}
