<footer>
    <!-- <div class="row">
        <a href="">Find us in: </a>
        <a><i class="fab fa-facebook"></i> Facebook </a>
        <a href=""> <i class="fab fa-instagram"></i> Instagram</a>
        <a href=""><i class="fab fa-twitter"></i> Twitter</a>
    </div> -->
    <!-- <div class="cols"> -->
    <div class="col col1">
        <a href="">Who we are</a>
        <a href="">Our vision</a>
        <a href="">Work with us!</a>
    </div>
    <div class="col col2">
        <a href="">Any questions? Contact Us <i class="fas fa-headphones"></i></a>
        <a href="">Track your order</a>
        <a href="">Become a partner</a>
    </div>
    <div class="col col3">
        <a>Privacy Policy</a>
        <a href="">Cookies</a>
        <a>Press</a>
    </div>
    <div class="col col4">
        <a href="">Find us in: </a>
        <a><i class="fab fa-facebook"></i> Facebook </a>
        <a href=""> <i class="fab fa-instagram"></i> Instagram</a>
        <a href=""><i class="fab fa-twitter"></i> Twitter</a>
    </div>
<!-- </div> -->
</footer>