<div class="citybanners">
    <h1>Discover new cities and awesome villages</h1>
    <!-- Do this with an array!! -->
    <div class="city1">
        <!-- <span class="title">{{ getCity1() }}</span> -->
        <a><img class="gen sant" src="./../../assets/santiago.jpg" alt="santiago" title="Santiago de Compostela"></a>
        <!-- <a><img class="gen sant" src="./../../assets/{{ getCity1() }}" alt="santiago" title="Santiago de Compostela"></a> -->
            <a><img class="gen pal" src="./../../assets/palma2.jpg" alt="palma" title="Palma de Mallorca"></a>
    </div>
    <h1>Have fun and relax in surrounded by ancient architecture</h1>
    <div class="city1">
        <a><img class="gen cal" src="./../../assets/calvari.jpg" alt="el calvari" title="El Calvari"></a>
            <a><img class="gen pont" src="./../../assets/pont.jpg" alt="pontemaceira" title="Pontemaceira"></a>
                <a><img class="gen alm" src="./../../assets/alm.jpg" alt="la almudaina" title="La Almudaina"></a>
        <!-- <p>{{ getLands1() }}</p> -->
    </div>
        <h1>Enjoy breathtaking landscapes</h1>
    <div class="city1">
        <a><img class="gen cies" src="./../../assets/cies.jpg" alt="Cies Islands" title="Illas Cíes"></a>
            <a><img class="gen rock" src="./../../assets/pareis.jpg" alt="Torrent de Pareis" title="Torrent de Pareis"></a>
        <!-- <img class="gen alm" src="./../../assets/baroña.jpg" alt="pontemaceira"> -->
    </div>
        <!-- <h1>And walk a different night</h1>
    <div class="city">
        <img class="gen pal" src="./../../assets/muros.jpg" alt="palma">
    </div> -->
</div>