<div class="citybanners">
    <h2>Discover new cities and awesome villages</h2>
    <!-- Do this with an array!! -->
    <div class="city1">
        <!-- <span class="title">{{ getCity1() }}</span> -->
        <a><img class="gen sant" src="./../../assets/{{ getCity1() }}" alt="santiago"></a>
            <a><img class="gen pal" src="./../../assets/palma2.jpg" alt="palma"></a>
    </div>
    <h2>Have fun and relax in surrounded by ancient architecture</h2>
    <div class="city1">
        <a><img class="gen cal" src="./../../assets/calvari.jpg" alt="el calvari"></a>
            <a><img class="gen pont" src="./../../assets/pont.jpg" alt="pontemaceira"></a>
                <a><img class="gen alm" src="./../../assets/alm.jpg" alt="la almudaina"></a>
        <!-- <p>{{ getLands1() }}</p> -->
    </div>
    <h2>Enjoy breathtaking landscapes</h2>
    <div class="city1">
        <a><img class="gen cies" src="./../../assets/cies.jpg" alt="Cies Islands"></a>
            <a><img class="gen rock" src="./../../assets/pareis.jpg" alt="Torrent de Pareis"></a>
        <!-- <img class="gen alm" src="./../../assets/baroña.jpg" alt="pontemaceira"> -->
    </div>
    <!-- <h1>And walk a different night</h1>
    <div class="city">
        <img class="gen pal" src="./../../assets/muros.jpg" alt="palma">
    </div> -->
</div>