.imgH{
    width: 250px;
    height: 250px;
}
h5.card-title{
 font-size: 20px;   
}
div.card.hotels{
    display: flex;
    flex-direction: row;
}
div.hotellist{
    margin-top: 200px;
    margin-left: 25%;
}