@import "../../breakpoints";
@import "../../../variables";
@include media(mobile) {
    .imgH {
        width: 400px;
        height: 350px;
    }
    div.hotellist {
        margin-top: 20px;
        margin-left: 10%;
        max-width: 400px;
    }
}
@include media(sm) {
    div.hotellist {
        margin-left: 30%;
    }
}
@include media(cards, md, desktop) {
    .imgH {
        width: 250px;
        height: 220px;
    }
    div.hotellist {
        margin-top: 20px;
        max-width: 800px;
        // margin-left: 30%;
    }
    div.card.hotels {
        height: 220px;
    }
}
h5.card-title {
    font-size: 20px;
    // font-weight: 500;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
div.card.hotels {
    display: flex;
    flex-direction: row;
}
.searchOrder {
    margin-left: 60%;
    mat-form-field {
        margin-top: 30px;
    }
}
div.col3rd {
    display: inline-block;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    padding-right: 25px;
    div.price1 {
        margin-top: 95%;
        text-align: right;
        .originalprice {
            background-color: $rosequartz1;
            color: $accent-dark;
            padding: 3px;
        }
        .percentage {
            background-color: $accent-dark;
            font-weight: 600;
            padding: 3px;
        }
    }
    .finalprice {
        font-size: 28px;
        position: absolute;
        padding-right: 30px;
        bottom: 0;
        right: 0;
        margin-bottom: 70px;
    }
    button.viewmore {
        position: absolute;
        bottom: 0;
        margin-bottom: 20px;
    }
}
div.searchfilters {
    p {
        margin-left: 20%;
    }
}
header.jumbotron.hotels {
    display: flex;
    align-items: center;
    background-position: center center;
    // background: url("../../../sonreiras1.jpg");
    background-image: url("../../../assets/hero/room1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
