header.jumbotron.hotels {
    display: flex;
    align-items: center;
    background-position: center center;
    // background: url("../../../sonreiras1.jpg");
    background-image: url("../../../assets/hero/room1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
