<app-navbar [showBrowserBanners]="showbrowserbanners" (showBB)="showbrowserbanners($event)" (dontShowBB)="dontShowBrowserBanners($event)"></app-navbar>

<div class="show-browser-banners" [style.display]="showBrowserBanners ? 'inherit':'none'">
  <header class="jumbotron hotels jumbotron shadow">
    <app-hotelsform [search]='search' [showBrowserBanners]="showBrowserBanners" (dontShowBB)="dontShowBrowserBanners($event)">
    </app-hotelsform>
  </header>
  <nlbanner></nlbanner>
  <app-offers></app-offers>
  <app-recommended></app-recommended>
</div>

<!-- <div class="searchfilters" [style.display]="showBrowserBanners ? 'none':'inherit'">
  <p>{{dataList.length}} results</p>
  <h3>Filter by</h3>
  <h4>Stars</h4>
  <mat-checkbox class="starscheckboxes"
  [color]="star.color">
{{star.name}}
</mat-checkbox>
</div> -->
<!-- <ul>
  <li *ngFor="let star of star.stars">
    <mat-checkbox [color]="star.color">
      {{star.name}}
    </mat-checkbox>
  </li>
</ul> -->
<app-footer></app-footer>