<app-navbar></app-navbar>
<div class="searchOrder" [style.display]="showBrowserBanners ? 'none':'inherit'">
    <mat-form-field appearance="outline">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option value="lowest">Lowest Price First</mat-option>
            <mat-option value="highest">Highest Price First</mat-option>
            <mat-option value="rating">Customer Rating</mat-option>
            <mat-option value="recommended">Recommended</mat-option>
        </mat-select>
    </mat-form-field>
    <p>You selected: {{selected}}</p>
    <p> {{ search.searchInput }}, {{search.adultsNumber}} </p>
</div>
<div class="hotellist" [style.display]="showBrowserBanners ? 'none':'block'">
    <div class="card hotels mb-3" *ngFor="let hotel of dataList">
        <div class="row g-0">
            <div class="col-md-4">
                <a><img class="img-fluid imgH" src="./../../{{hotel.imgD}}" alt="img {{hotel.name}}"></a>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{hotel.name}}</h5>
                    <p class="card-text">
                        <span class="stars-number"> {{hotel.stars }} </span>
                        <span class="material-icons yellow-text yellowstar">star_rate</span>
                    </p>
                    <p class="card-text">
                        {{ hotel.description }}
                    </p>
                    <!-- aquí un ngIf para amosar icono de percina e balneario ou non -->
                    <p class="card-text">
                        <span *ngIf="hotel.balneario"><i class="fas fa-hot-tub"></i> &nbsp; </span>
                        <span *ngIf="hotel.piscina"> <i class="fas fa-swimming-pool"></i> &nbsp;</span>
                        <span *ngIf="hotel.wifi"> <i class="fas fa-wifi"></i> &nbsp;</span>
                        <span *ngIf="hotel.parking"> <i class="fas fa-parking"></i> </span>
                    </p>
                </div>
            </div>
            <div class="col-md-2 col3rd">
                <div class="price1" *ngIf="hotel.offer>0"> <span class="originalprice"><s> {{ hotel.price }}€
                        </s></span> <span class="percentage text-white">
                        {{hotel.offer}}% off</span>
                </div>
                <p class="card-text finalprice">
                    {{ calculatePercentage(hotel.price, hotel.offer) }}€
                </p>
                <button type="submit" mat-raised-button class="viewmore" color="accent">View more</button>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>