@use '../../../Themes/theme1';
@import "../../../variables";
@import "../../../Themes/theme1";
@include angular-material-theme($candy-app-theme);
@import "../../../reset";
@import "../../breakpoints";
@mixin formulario($marginLeft) {
  color: $black;
  padding: 20px;
  border-radius: 5px;
  background-color: $transparentWhite;
  margin-left: $marginLeft;
}
@mixin wrong-field() {
  margin-left: 20px;
  margin-top: 40px;
  font-style: oblique;
  color: $warnColor;
}
:host,
:host-context(.mat-header) {
  width: 100%;
}
mdb-navbar {
  .navbar-brand {
    font-weight: 400;
    color: $black;
  }
  li.nav-item a.nav-link {
    color: $black;
    font-weight: 400;
    &:hover {
      color: $accentColor;
      &:active {
        font-size: 16px;
      }
    }
  }
}
@include media(mobile, sm, md, tablet) {
  form.form-inline.my-2.my-lg-0 {
    display: none;
  }
}
@include media(formnavbar) {
  form.form-inline.my-2.my-lg-0 {
    display: inline;
  }
}
.logoIcon {
  max-width: 25px;
  max-height: 25px;
  margin-right: 6px;
}
header {
  display: flex;
  align-items: center;
  background-position: center center;
  background: url("../../../cat1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.formulario {
  @include formulario(20%);
}
.show {
  opacity: 1;
  transition: opacity 1s;
  margin-right: 5px;
  padding-top: 2px;
}
.hide {
  opacity: 0;
  transition: opacity 1s;
}
.childrenWidth50 > * {
  width: $childrenWidth50;
}
.btn-outline-success.custom-btn {
  color: $accentColor;
  border-color: $accentColor;
  border: 1px solid $accentColor;
  text-decoration: none;
  &:hover {
    background-color: inherit;
    color: $accentColor;
    border-radius: 5px;
    border: 2px solid $accentColor;
  }
  &:active,
  :focus {
    background-color: inherit;
    text-decoration: none;
    border: 3px solid $accentColor;
    border-radius: 5px;
    color: $accentColor;
    &:not(:disabled):not(.disabled):active {
      background-color: inherit;
      text-decoration: none;
      border: 3px solid $accentColor;
      border-radius: 5px;
      color: $accentColor;
    }
  }
}
.form-control.custom-control {
  &:focus,
  &:active {
    border: 3px solid $accentColor;
    outline: none;
  }
}
.wrong-field {
  @include wrong-field();
}
.selectsGroup {
  max-width: 550px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.container.lugares {
  display: flex;
  flex-flow: row wrap;
}
.card.ltlimg,
div.ltlimg {
  width: 250px;
  height: 200px;
}
