<app-navbar></app-navbar>
<!-- Gallery -->
<div class="container">
  <div class="row mt-4">
    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
      <a href="/assets/{{hotel.name}}/20.jpg">
        <img src="/assets/{{hotel.name}}/20.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
      </a>
      <a href="/assets/{{hotel.name}}/21.jpg">
        <img src="/assets/{{hotel.name}}/21.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
      </a>
    </div>

    <div class="col-lg-3 mb-4 mb-lg-0">
      <a href="/assets/{{hotel.name}}/22.jpg">
        <img src="/assets/{{hotel.name}}/22.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
      </a>
      <a href="/assets/{{hotel.name}}/23.jpg">
        <img src="/assets/{{hotel.name}}/23.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
      </a>
    </div>

    <div class="col-lg-3 mb-4 mb-lg-0">
      <a href="/assets/{{hotel.name}}/0.jpg">
        <img src="/assets/{{hotel.name}}/0.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
      </a>
      <a href="/assets/{{hotel.name}}/1.jpg">
        <img src="/assets/{{hotel.name}}/1.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
      </a>
    </div>
    <div class="col-lg-3 mb-4 mb-lg-0">
      <a href="/assets/{{hotel.name}}/2.jpg">
        <img src="/assets/{{hotel.name}}/2.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
      </a>
      <a href="/assets/{{hotel.name}}/3.jpg">
        <img src="/assets/{{hotel.name}}/3.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
      </a>
    </div>
  </div>
</div>
<!-- Gallery -->
<div class="container">
  <div class="row tabsrow mb-5">
    <span class="tab" (click)="moveToStructure()"><a href="#descriptionSection" class="tablink 1">
        Hotel Description
      </a></span>
    <span class="tab" (click)="moveToRooms()"><a href="#roomsSection" class="tablink 2">
        Rooms
      </a></span>
    <span class="tab" (click)="moveToReviews()"><a href="#reviewsSection" class="tablink 3">
        Reviews
      </a></span>
  </div>
  <div class="hinformation">
    <div *ngIf="hotel">
      <p class="h2">{{ hotel.name }}</p>
      <p>{{ hotel.address }}, {{ hotel.city }}</p>
      <p class="font-weight-bold text-warning" *ngIf="hotel.stars!=0"> {{ hotel.stars }}-star hotel </p>
      <section #descriptionSection id="descriptionSection">
        <p class="hdescription my-5">
          {{ hotel.hdescription }}
        </p>
      </section>
      <section #roomsSection id="roomsSection" *ngIf="rooms" class="mb-5">
        <p class="h3 text-center my-5">Select your room</p>
        <div class="d-flex flex-row features my-3 py-3" style="border-bottom: 1px solid rgb(63, 62, 62);">
          <div class="col-lg-3 my-auto">
            <p> Room Type </p>
          </div>
          <div class="col-lg-1 text-center my-auto mx-2 text-center">
            <p>Max. Hosts</p>
          </div>
          <div class="col-lg-1 mx-2 text-center my-auto">
            <p>Price</p>
          </div>
          <div class="col-lg-2 mx-2 text-center text-center my-auto">
            <p>Extras</p>
          </div>
        </div>
        <div class="row my-3 py-3 my-auto" style="border-bottom: 1px solid rgb(63, 62, 62);"
          *ngFor="let room of rooms; let i = index">
          <ng-container *ngIf="room.seaView == true; then seaView else noSeaView"></ng-container>
          <ng-template #seaView>
            <div class="col-lg-3 my-auto">
              <p  class="font-weight-bold"> {{ room.roomType }} room 
                with Sea View</p>
            </div>
            <div class="maxHosts col-lg-1 mx-2 text-center text-center my-auto">
              <p class="maxHosts">{{room.maxHosts}}</p>
            </div>

            <div class="col-lg-1 text-center mx-2 my-auto">
              {{room.price + 10 + 20}}
            </div>
            <div class="col-lg-2 text-center text-center mx-2 my-auto">
              <p>Breakfast included</p>
              <p>Free Cancellation </p>
              <!-- before search.checkinDate.getday()-1 -->
            </div>
            <div class="col-lg-3 col-md-12 mb-4 mr-2 mb-lg-0">
              <a href="/assets/{{hotel.name}}/{{i}}.jpg">
                <img src="/assets/{{hotel.name}}/{{i}}.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
              </a>
            </div>
            <div class="col-lg-1 pl-2 ml-3 my-auto">
              <a mat-raised-button class="viewmore" color="accent" target="_blank"
                (click)="bookHotelGoToCheckout()">Book Me</a>
            </div>
          </ng-template>
          <ng-template #noSeaView>
            <div class="col-lg-3 my-auto">
              <p class="font-weight-bold">{{ room.roomType }} room</p>
              <p *ngIf="room.privateToilet">with private toilet</p>
              <p *ngIf="room.privateBathroom">with private bathroom</p>
              <p *ngIf="room.balcony">with balcony</p>
              <p *ngIf="room.jacuzzi">with jacuzzi</p>
            </div>
            <div class="col-lg-1 text-center text-center mx-2 my-auto">
              <p>{{room.maxHosts}}</p>
            </div>

            <div class="col-lg-1 text-center mx-2 my-auto">
              <p> {{room.price + 10 }} €</p>
            </div>
            <div class="col-lg-2 text-center mx-2 my-auto">
              <p>Breakfast included</p>
              <!-- before search.checkinDate.getday()-1 -->
            </div>
            <div class="col-lg-3 col-md-12 mr-3 my-auto">
              <a href="/assets/{{hotel.name}}/{{i}}.jpg">
                <img src="/assets/{{hotel.name}}/{{i}}.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
              </a>
            </div>
            <div class="col-lg-1 pl-2 ml-3 my-auto">
              <a mat-raised-button class="viewmore" color="accent" target="_blank"
                (click)="bookHotelGoToCheckout(room.roomId, room.price)">Book Me</a>
            </div>
          </ng-template>
        </div>
      </section>
    </div>

  </div>
</div>
<app-footer></app-footer>