@import "../../breakpoints";
@import "../../../variables";
@include media(mobile) {

  .tabsrow {
    display: none;
  }
  .viewmore {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 0px;
  }
  .row.features{
    display: none;
  }
  .maxHosts{
    display: none;
  }
}
@include media(tablet) {
  .tabsrow {
    display: block;
    border-radius: 0.5em;
    padding: 1.5em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    .tab {
      padding: 0.75em;
      margin-right: 5em;
      margin-left: 2em;

      &:active,
      &:focus,
      &:visited {
        border-bottom: 3px solid rgba(60, 64, 67, 0.3);
      }
    }
    .tablink {
      color: $black;
      font-weight: bold;
    }
  }
}
@include media(desktop) {
  .viewmore {
    margin-bottom: 20px;
  }
  .row.features{
    display: block;
  }
  .maxHosts{
    display: block;
  }
}
