<app-navbar></app-navbar>
<div *ngIf="isLoggedIn; else loggedOut">
    <mat-tab-group>
        <mat-tab class="booking-tabs" label="My Bookings">
            <ng-template matTabContent>
                <div class="bookings-container"
                    *ngIf="numberOfBookings !=null && numberOfBookings != 0; else noBookings">
                    <h1>Bookings List</h1>
                    <ng-container *ngFor="let booking of bookings">
                        <a [routerLink]="['/booking', booking.roomId]">
                        <div class="eachBooking">
                            <p class="hotelplace">
                                <!-- {{hotel.name}} -->
                            </p>
                            <!-- <button (click)="getHotelById(booking.hotelId)">hotel</button> -->
                            <!-- <p class="text-muted bookingdate">{{booking.checkinDate}} - {{booking.checkoutDate}}</p> -->
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="/assets/sm/{{booking.hotelName}}.jpg" alt="hotel img"
                                            class="img-fluid" />
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <div class="row">
                                                <p class="card-title h6"><a class="hotelDetailLink"
                                                        [routerLink]="['/hotelDetail']"
                                                        routerLinkActive="router-link-active">
                                                        {{booking.hotelName}}
                                                    </a>
                                                </p>
                                                <span class="bprice text-success">{{booking.price}}</span>
                                                <!-- <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <div
                                                    *ngIf="bookingCompleted !=null && bookingCompleted == true ; else bookingIncomplete">
                                                    <a class="dropdown-item" href="#"> Remove booking </a>
                                                    <a class="dropdown-item" href="#"> Book Again </a>
                                                </div>
                                                <div #bookingIncomplete>
                                                    <a class="dropdown-item" href="#">Modify booking</a>
                                                    <a class="dropdown-item" href="#">Cancel booking</a>
                                                </div>
                                            </div>
                                        </div> -->


                                            </div>
                                            <p class="card-text bdate">
                                                {{booking.checkinDate}} - {{booking.checkoutDate}}
                                            </p>
                                            <p class="card-text bstatus">
                                                <a class="bstatus">
                                                    {{ isBookingCompleted(booking.checkoutDate) == true ? 'Completed' : 'Active' }} </a>
                                            </p>
                                            <a class="bookingDetailLink" [routerLink]="['/hotelDetail']"
                                                routerLinkActive="router-link-active">View Booking</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </ng-container>
                    <app-footer></app-footer>
                    <!-- </ng-container> -->
                </div>
                <ng-template #noBookings>
                    <div class="entireContainer">
                        <div class="glass-panel">
                            <h1>You don't have
                                any bookings yet.</h1>
                            <p>Take a look at our hotel selection to find amazing choices of safe leisure adequate to
                                your
                                needs!</p>
                            <div class="glass-toolbar">
                                <a href="http://localhost:4200/hotels" class="glass-button">Start a new adventure!</a>
                                <a href="http://localhost:4200/home" target="_blank" class="glass-button">Go Back</a>
                            </div>
                        </div>
                        <footer class="parallax">
                            <div class="row footerRow">
                                <a href="">Find us in </a>
                                <a><i class="fab fa-facebook"></i> Facebook </a>
                                <a href=""> <i class="fab fa-instagram"></i> Instagram</a>
                                <a href=""><i class="fab fa-twitter"></i> Twitter</a>
                            </div>
                            <div class="cols footerCols">
                                <div class="col col1">
                                    <p><b class="text-white">Get to know us</b></p>
                                    <a href="">Who we are</a>
                                    <a href="">Our vision</a>
                                    <a href="">Our mission</a>
                                    <a href="">Work with us!</a>
                                </div>
                                <div class="col col2">
                                    <p><b class="text-white">Reach us</b></p>
                                    <a href="">Any questions? Contact Us <i class="fas fa-headphones"></i></a>
                                    <a href="">Become a partner</a>
                                    <a href="">Advertise</a>
                                    <a href="">Rewards</a>
                                </div>
                                <div class="col col3">
                                    <p><b class="text-white">Your data and our data</b></p>
                                    <a href="">Terms & Conditions</a>
                                    <a>Privacy policy</a>
                                    <a href="">Cookies</a>
                                    <a>Press</a>
                                </div>
                                <div class="col col4">
                                    <p><b class="text-white">Other useful information</b></p>
                                    <a>Our affiliates </a>
                                    <a>Safety guide</a>
                                    <a href=""> Why Galicia</a>
                                    <a href="">Holiday destinations</a>
                                </div>
                            </div>
                        </footer>
                    </div>
                </ng-template>

            </ng-template>
        </mat-tab>
        <mat-tab label="My reviews">
            <ng-template matTabContent>
                <div class="bookings-container" *ngIf="numberOfReviews !=null && numberOfReviews != 0; else noReviews">
                    Reviews list
                </div>
                <ng-template #noReviews>
                    <div class="entireContainer">
                        <div class="glass-panel">
                            <h1><a href="https://superdevresources.com/glassmorphism-ui-css/" target="_blank">You don't
                                    have
                                    any reviews yet.</a></h1>
                            <p>Take a look at our hotel selection to find amazing choices of safe leisure adequate to
                                your
                                needs!</p>
                            <div class="glass-toolbar">
                                <a href="http://localhost:4200/hotels" class="glass-button">Start a new adventure!</a>
                                <a href="http://localhost:4200/home" target="_blank" class="glass-button">Go Back</a>
                            </div>
                        </div>
                        <footer class="parallax">
                            <div class="row footerRow">
                                <a href="">Find us in </a>
                                <a><i class="fab fa-facebook"></i> Facebook </a>
                                <a href=""> <i class="fab fa-instagram"></i> Instagram</a>
                                <a href=""><i class="fab fa-twitter"></i> Twitter</a>
                            </div>
                            <div class="cols footerCols">
                                <div class="col col1">
                                    <p><b class="text-white">Get to know us</b></p>
                                    <a href="">Who we are</a>
                                    <a href="">Our vision</a>
                                    <a href="">Our mission</a>
                                    <a href="">Work with us!</a>
                                </div>
                                <div class="col col2">
                                    <p><b class="text-white">Reach us</b></p>
                                    <a href="">Any questions? Contact Us <i class="fas fa-headphones"></i></a>
                                    <a href="">Become a partner</a>
                                    <a href="">Advertise</a>
                                    <a href="">Rewards</a>
                                </div>
                                <div class="col col3">
                                    <p><b class="text-white">Your data and our data</b></p>
                                    <a href="">Terms & Conditions</a>
                                    <a>Privacy policy</a>
                                    <a href="">Cookies</a>
                                    <a>Press</a>
                                </div>
                                <div class="col col4">
                                    <p><b class="text-white">Other useful information</b></p>
                                    <a>Our affiliates </a>
                                    <a>Safety guide</a>
                                    <a href=""> Why Galicia</a>
                                    <a href="">Holiday destinations</a>
                                </div>
                            </div>
                        </footer>
                    </div>
                </ng-template>
            </ng-template>
        </mat-tab>
        <mat-tab label="My Account">
            <ng-template matTabContent>
                <div class="bookings-container">
                    <h1>{{ currentUser.username }}'s Account</h1>
                    <div class="container profile">
                        <h2 class="account-option">My Personal Data</h2>
                        <form class="formulario col-xs-8 col-sm-10 col-md-6 col-bg-5">
                            <!-- {{firstname.value | json}} -->
                            <div class="form-group">
                                <div class="row">
                                    <mat-form-field appearance="outline" title="Username">
                                        <mat-label class="help-block">
                                            Username
                                        </mat-label>
                                        <input matInput type="text" required [matAutocomplete]="auto" name="username"
                                            id="username" [(ngModel)]="currentUser.username"
                                            placeholder="currentUser.username">
                                    </mat-form-field>
                                    <!-- <small class="wrong-field" *ngIf="firstname.touched && firstname.invalid">First Name is -->
                                    <!-- required</small> -->

                                </div>
                                <div class="row">
                                    <mat-form-field appearance="outline" title="email">
                                        <mat-label class="help-block">
                                            Email linked to your account
                                        </mat-label>
                                        <input matInput type="email" required [matAutocomplete]="auto" name="email"
                                            id="email" [(value)]="email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button type="submit" mat-raised-button color="accent"> Save changes </button>
                        </form>
                    </div>
                    <div class="container profile">
                        <form action="" class="form-group">
                            <h2 class="account-option">Preferences</h2>
                            <div class="eachoption-group">
                                <h3>Accessibility</h3>
                                <p>
                                    <mat-checkbox name="accessibility">Browse only through accessible properties
                                    </mat-checkbox>
                                </p>
                            </div>
                            <div class="eachoption-group">
                                <h3 class="elev">Currency</h3>
                                <mat-form-field appearance="outline" title="currency">
                                    <mat-label class="help-block" id="adultsNumber">
                                        Preferred Currency
                                    </mat-label>
                                    <mat-select id="currency" placeholder="{{selectedCurrency}}"
                                        [(ngModel)]="selectedCurrency" name="currency">
                                        <mat-option *ngFor="let item of currencies" [value]="item">
                                            {{item}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="eachoption-group">
                                <h3>Newsletter</h3>
                                <mat-slide-toggle>Subscribe to our Newsletter and get the best deals</mat-slide-toggle>
                            </div>
                        </form>
                    </div>
                    <div class="container profile">
                        <h2 class="account-option">Security</h2>
                        <div class="eachoption-group">
                            <form action="" class="form-group">
                                <div class="row">
                                    <h3 class="elev">Change Password</h3>
                                    <mat-form-field class="pass" appearance="outline" title="Current Password">
                                        <mat-label class="help-block">
                                            Current Password
                                        </mat-label>
                                        <input matInput type="password" required name="cpassword" id="cpassword">
                                    </mat-form-field>
                                    <mat-form-field class="pass" appearance="outline" title="New Password">
                                        <mat-label class="help-block">
                                            New Password
                                        </mat-label>
                                        <input matInput type="password" required [matAutocomplete]="auto"
                                            name="npassword" id="npassword">
                                    </mat-form-field>
                                    <button class="savePass" type="submit" mat-raised-button color="warm"> Change
                                        Password
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="eachoption-group">
                            <form action="" class="form-group">
                                <div class="row">
                                    <h3 class="elev">Delete Account</h3>
                                    <mat-form-field class="pass" appearance="outline" title="Current Password">
                                        <mat-label class="help-block">
                                            Enter Password
                                        </mat-label>
                                        <input matInput type="password" required name="cpassword" id="cpassword">
                                    </mat-form-field>
                                    <div class="col">
                                        <button class="savePass" type="submit" mat-raised-button color="warm">
                                            Delete Account <mat-icon>warning</mat-icon>
                                        </button>
                                        <mat-hint> Changes cannot be unmade! </mat-hint>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <app-footer></app-footer>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
<ng-template #loggedOut>
    <div class="container my-5 py-xl-5">
        Please log in to see your bookings and control your settings!
    </div>
    <app-footer class="pt-5 mt-5 mat-elevation-z20"></app-footer>
</ng-template>