<div id="formComponent">
    <div class="container" id="formContainer">
        <legend class="leg">
            <a [routerLink]="['/home']" routerLinkActive="router-link-active"><img class="logo" src="../favicon.ico"
                    alt="logo"></a>
            <h1>
                Discover Galicia Safely
            </h1>
        </legend>
        <form>
            <div class="row">
                <div class="form-group">
                    <label for="formSearch">Search</label>
                    <input type="search" class="form-control" id="formSearch" aria-describedby="searchHelp"
                        placeholder="Search Hotels or places">
                    <small id="searchHelp" class="form-text text-white">Search Hotels or places</small>
                </div>
                <div class="form-group r">
                    <label for="checkInDate">Check-In Date</label>
                    <input type="date" class="form-control" id="checkInDate">
                </div>
                <div class="form-group r">
                    <label for="checkOutDate">Check-Out Date</label>
                    <input type="date" class="form-control" id="checkOutDate">
                </div>
                <div class="form-group r selects">
                    <label for="formRooms">Rooms</label>
                    <select name="formRooms" class="form-control" id="formRooms">
                        <option selected value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </div>
                <div class="form-group r selects">
                    <label for="formAdults">Adults</label>
                    <select name="formAdults" class="form-control" id="formAdults">
                        <option value="1">1</option>
                        <option selected value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </div>
                <div class="form-group r selects">
                    <label for="formChildren">Children</label>
                    <select name="formChildren" class="form-control" id="formChildren">
                        <option selected value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </div>
                <div class="buttonSubmit">
                    <button type="submit" id="formButton" href="" class="btn btn-primary r">Search!</button>
                </div>
            </div>
        </form>
    </div>
    <div class="orderByDiv">
        <form action="">
        <div class="form-group orderbyGroup">
            <label for="OrderBy">Order By</label>
            <select name="OrderBy" class="form-control col-lg-2 col-md-3" id="OrderBy">
                <option selected value="Lowest Price First">Lowest Price First</option>
                <option value="Highest Price First">Highest Price First</option>
                <option value="Popular">Popular</option>
                <option value="Recommended">Recommended</option>
            </select>
        </div>
    </form>
    </div>
</div>
