@use '../../../Themes/theme1';
@import "../../../variables";
@import "../../../Themes/theme1";
@include angular-material-theme($candy-app-theme);
@import "../../../reset";
@import "../../breakpoints";
@mixin formulario($marginLeft) {
  color: $black;
  padding: 20px;
  border-radius: 5px;
  background-color: $transparentBlack;
  margin-left: $marginLeft;
  margin-top: 50px;
}
@mixin wrong-field() {
  margin-left: 20px;
  margin-top: 40px;
  font-style: oblique;
  color: $warnColor;
}
:host,
:host-context(.mat-header) {
  width: 100%;
}
.formulario1 {
  @include formulario(20%);
}
.show {
  opacity: 1;
  transition: opacity 1s;
  margin-right: 5px;
  padding-top: 2px;
}
.hide {
  opacity: 0;
  transition: opacity 1s;
}
.childrenWidth50 > * {
  width: $childrenWidth50;
}
.wrong-field {
  @include wrong-field();
}
.selectsGroup1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 20px;
.miniSelect{
    max-width: 100px;
}
.buttonSpace{
    padding-top: 15px;
    padding-left: 10px;
}
}
.leg1{
  display: flex;
  .logo{
    width: 50px;
    height: 50px;
  }
  h2{
    padding-top: 10px;
    margin-left: 10px;
    line-height: -20px;
  }
}