<!-- <h2>Have a glimpse of our juicy offers!</h2> -->
<h2> <span class="unicorn-dark-theme">Hot</span> Deals!</h2>
<div class="offers">
    <ng-container *ngFor="let hotel of dataList">
        <mdb-card class="eachcard" *ngIf="hotel.offer>0">
            <div class="view imgdiv rgba-white-slight waves-light" mdbWavesEffect>
                <a><mdb-card-img src="./../../{{hotel.imgD}}" alt="img {{hotel.name}}" class="ht"></mdb-card-img></a>
            </div>
            <mdb-card-body>
                <a class="hotelName text-primary" >
                    <h3>{{hotel.name}}</h3>
                </a>
                <p class="text-body"> <a>{{ hotel.city}}, {{ hotel.region }}</a> <span class="starting text-success"> From {{hotel.price}}€ </span> </p>
                <button mat-fab color="warn" class="offers">
                    {{hotel.offer}}% off
                  </button>
                 <!-- <button mat-raised-button color="accent">Accent</button> -->
                </mdb-card-body>

        </mdb-card>
    </ng-container>
</div>