h2 {
    //text-align: center;
    margin-left: 15%;
    margin-top: 40px;
    font-size: 25px;
}
.offer {
    margin-left: 5%;
    img {
        width: 200px;
    }
    p{
        padding-left: 50px;
    }
}
