// // Small tablets and large smartphones (landscape view)
// $screen-sm-min: 576px;

// // Small tablets (portrait view)
// $screen-md-min: 768px;

// // Tablets and small desktops
// $screen-lg-min: 992px;

// // Large tablets and desktops
// $screen-xl-min: 1200px;

// // Extra small
// @mixin xs {
//     @media (max-width: #{$screen-sm-min}) {
//         @content;
//     }
//  }

// // Small 
// @mixin sm {
//     @media (min-width: #{$screen-sm-min}) {
//         @content;
//     }
//  }
 
//  // Medium 
//  @mixin md {
//     @media (min-width: #{$screen-md-min}) {
//         @content;
//     }
//  }
 
//  // Large 
//  @mixin lg {
//     @media (min-width: #{$screen-lg-min}) {
//         @content;
//     }
//  }
 
//  // Extra large 
//  @mixin xl {
//     @media (min-width: #{$screen-xl-min}) {
//         @content;
//     }
//  }
//  // Custom 
// @mixin rwd($screen) {
//     @media (min-width: $screen+'px') {
//         @content;
//     }
//  }
//  map holding breakpoint values
$breakpoints: (
  mobile : 0px, 
  sm: 576px,
  tablet : 680px, 
  cards:750px,
  md: 768px,
  desktop: 960px,
  formnavbar:992px,
  lg: 1200px
);

//  mixin to print out MIN-WIDTH media queries (based on map keys passed) 
@mixin media($keys...){
  @each $key in $keys { 
    @media (min-width: map-get($breakpoints, $key)){
      @content
    } 
  }
}
//  mixin to print out MAX-WIDTH media queries (based on map keys passed) 
@mixin max-media($keys...){
  @each $key in $keys { 
    @media (max-width: map-get($breakpoints, $key)){
      @content
    } 
  }
}

