@use '../../../Themes/theme1';
@import "../../../variables";
@import "../../../Themes/theme1";
@import "~@angular/material/theming";
@include angular-material-color($dark-theme);  
@import "~@angular/cdk/text-field/text-field";
@import "../home/home.component.scss";
@import "../../../reset";
// $warn: #ff1744;
$link-color: $warnColor;

@mixin dark-warn-theming($dark-theme){
    $dark-warn: map-get($dark-theme, warn)
}
.unicorn-dark-theme {
    color:mat-color($dark-warn);
}

.bg-warn{
    background-color:$warnColor;
    color: white;
}
.loginForm{
    @include formulario(0);
    display: flex;
    flex-flow: column wrap;
}
button.btn-ext{
    margin-left: 30px;
    width: 220px;
}
.wrong-field{
    @include wrong-field();
}
.unicorn-dark-theme {
    @include angular-material-color($dark-theme);
  }