@use '../../../Themes/theme1';
@import "../../../variables";
@import "../../../Themes/theme1";
@include angular-material-theme($candy-app-theme);
@import "../../../reset";
@import "../../breakpoints";

// ------------------MY BOOKINGS TAB SECTION STYLE!!!!-----------------------
.no-bookings {
    button.deleteAccount {
        color: #fff;
        font-weight: bolder;
        background-color: $warnColor;
    }
    button.profileChanges {
        color: $accent-dark;
        font-weight: bolder;
        background-color: $serenity2;
    }
}
.glass-panel {
    color: #fff;
    margin: 40px auto;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    width: 100%;
    border-radius: 15px;
    padding: 32px;
    backdrop-filter: blur(10px);
  }
  
  .glass-button {
    display: inline-block;
    padding: 24px 32px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .glass-button:hover {
    background-color: rgba(255,255,255,0.2);
  }
  
 .entireContainer {
     width: 100%;
    background: url(https://images.unsplash.com/photo-1582647035366-429001bf1273?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80)  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 20px 0px;
    background-size: cover;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
 }
  
  .glass-panel {  
    max-width: 600px;
  }
  
  .glass-button {
    margin: 15px;
    margin-top: 40px;
  }
  
  h1, h1 a {
    min-height: 120px;
    width: 90%;
    max-width: 700px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    color: #fff;
    padding-top: 60px;
    color: rgba(255,255,255,0.8);
  }
  
  p {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 32px;
    color: rgba(255,255,255,0.6);
  }
@include max-media(tablet) {
    .no-bookings {
        h2 {
            margin-top: 20px;
            margin-left: 5%;
            // margin-left: 0 auto;
        }
        button {
            margin-top: 10%;
            margin-left: 25%;
            margin-bottom: 10%;
        }
    }
}
@include media(tablet) {
    .no-bookings {
        text-align: center;
        padding: 5%;

        h2 {
            padding-top: 5%;
            padding-bottom: 3%;
            margin: 0 auto;
        }
        button {
            margin: 0 auto;
            margin-bottom: 10%;
            // margin-top: 10%;
            // margin-bottom: 10%;
            // margin-left: 35%;
        }
    }
}
// @include max-media(tablet) {
//     .no-bookings {
//         h2 {
//             margin-top: 10%;
//             margin-left: 20%;
//         }
//         button {
//             margin-top: 10%;
//             margin-bottom: 10%;
//             margin-left: 35%;
//         }
//     }
// }
::ng-deep .mat-tab-label{
    margin-top: 10px;
    // color: #ff2970;
    color: darkblue;
    font-weight: bold;
}
// --------------MY BOOKINGS FOOTER STYLE!!!-------------
footer.parallax{
    background-color: rgba(255,255,255,0.06);
    font-weight: 600;
    color: white;
}

@include media(mobile, sm) {
  .footerRow {
      width: 98%;
      margin-left: 1.5%;
      margin-top: 10px;
      a {
          font-size: 13px;
      }
  }
  .cols.footerCols {
      display: flex;
      flex-direction: column;
      width: 100%;
      .col {
          display: flex;
          flex-direction: column;
          width: 100%;
          b {
              font-size: 14px;
          }
      }
  }
}
@include media(tablet) {
  .footerRow {
      width: 99%;
      margin-left: 3px;
      a {
          font-size: 16px;
          padding-top: 10px;
      }
  }
  .cols.footerCols {
      display: flex;
      flex-direction: row;
      .col {
          width: 80px;
          display: flex;
          flex-direction: column;
          b {
              font-size: 16px;
          }
      }
  }
}

footer {
  width: 100vw;
  padding-top: 1px;
  .footerRow {
      margin-top: 10px;
      justify-content: center;
      border-radius: 50px;
      color: $brokenWhite;
      height: 60px;
      padding-top: 20px;
      padding-bottom: 20px;
      a {
          font-weight: 600;
          padding-left: 15px;
          color: whitesmoke;
      }
  }
  .cols.footerCols {
      line-height: 25px;
      padding-left: 30px;
      display: flex;
      padding-top: 10px;
      justify-content: space-between;
      .col {
          padding: 20px;

          a {
              color: whitesmoke;
          }
      }
  }
}
// --------------END OF MY BOOKINGS FOOTER STYLE!!!-------------
// --------------END OF MY BOOKINGS TAB SECTION STYLE!!!-------------