<app-navbar></app-navbar>
<div class="container">
    <h1 class="my-5 font-weight-bold"> Safety for all of our customers </h1>
    <p> SafeTravels has the mission to care for everyone who rents a hotel with us.
        That is why we make a very close check to ensure that our hotel
        partners are taking all the hygienic and covid-related measures we request of them.</p>
    <p>We want our customers to feel safe and cared for. We want you to be happy and to value your investment on us as a
        rewarding choice.</p>
    <p>We have come up with a list of basic regulations for all the hotels that you can book in our site. You can find
        extra basic regulations in each of their websites or contact them to know more about it.</p>
    <p class="h6 my-4"> This is a list of those measures that our hotel partners must fulfill: </p>
    <div class="row">
        <div class="col-md-7">
            <ul class="list-group w-75 mb-5">
                <li class="list-group-item list-group-item-action">Hidroalcoholic dispensers available</li>
                <li class="list-group-item list-group-item-action">Frequent cleaning in common areas</li>
                <li class="list-group-item list-group-item-action">Exhaustive ventilation of rooms, restaurants, and
                    other common areas</li>
                <li class="list-group-item list-group-item-action">Controlled capacity in all zones</li>
                <li class="list-group-item list-group-item-action">Mandatory use of mask in common areas</li>
                <li class="list-group-item list-group-item-action">Furniture cleaning increase in pool areas</li>
                <li class="list-group-item list-group-item-action">Pool water disinfection increase</li>
                <li class="list-group-item list-group-item-action">A compromise with service digitalization (food and
                    service menus accesible online)</li>
            </ul>
        </div>
        <div class="col-md-5">
            <img class="col-md-12" src="assets/misc/happy.webp" alt="thumbsup">
        </div>
    </div>
</div>
<app-footer></app-footer>