<mat-card>
    <mat-card-header>
        Create a new account
    </mat-card-header>
    <mat-card-content>
        <form action="" [formGroup]="signupForm" class="signupForm">
            <mat-form-field appearance="outline" title="Insert your email address">
                <mat-label class="help-block">
                    Email Address
                </mat-label>
                <input matInput type="email" formControlName="email" placeholder="Email Address"
                    [class.is-invalid]="signupForm.get('email').touched && signupForm.get('email').invalid">
                <!-- <small class="wrong-field"
                    *ngIf="signupForm.get('email').touched && signupForm.get('email').invalid">email
                    required</small> -->
            </mat-form-field>
            <mat-form-field appearance="outline" title="Insert your password">
                <mat-label class="help-block">
                    Password
                </mat-label>
                <input matInput type="password" formControlName="userpasswd" placeholder="Password"
                    [class.is-invalid]="signupForm.get('userpasswd').touched && signupForm.get('userpasswd').invalid">
                <!-- <small class="wrong-field"
                    *ngIf="signupForm.get('userpasswd').touched && signupForm.get('userpasswd').invalid">password
                    required</small> -->
            </mat-form-field>
            <mat-form-field appearance="outline" title="Insert your email name">
                <mat-label class="help-block">
                    First Name
                </mat-label>
                <input matInput type="text" formControlName="firstName" placeholder="First Name"
                    [class.is-invalid]="signupForm.get('firstName').touched && signupForm.get('firstName').invalid">
                <!-- <small class="wrong-field"
                    *ngIf="signupForm.get('email').touched && signupForm.get('email').invalid">First name
                    required</small> -->
            </mat-form-field>
            <mat-form-field appearance="outline" title="Insert your email last name">
                <mat-label class="help-block">
                    Last Name
                </mat-label>
                <input matInput type="lastName" formControlName="lastName" placeholder="Last Name"
                    [class.is-invalid]="signupForm.get('email').touched && signupForm.get('email').invalid">
                <!-- <small class="wrong-field"
                    *ngIf="signupForm.get('email').touched && signupForm.get('email').invalid">Last Name
                    required</small> -->
            </mat-form-field>
            <mat-card-actions>
            <button type="button" class="btn btn-success" style="width: 220px;margin-left: 10px"> Log In</button>
            </mat-card-actions>
        </form>

        <p style="margin-left:20px;">Or log in with Google or Facebook</p>

        <mat-card-actions>
            <button type="button" class="btn btn-danger btn-ext"> <i class="fab fa-google"></i> Log In with Gmail
            </button>
            <p></p>
            <button type="button" class="btn btn-primary btn-ext"> <i class="fab fa-facebook"></i> Log In with
                Facebook</button>
        </mat-card-actions>
    </mat-card-content>

</mat-card>