@use '../../../Themes/theme1';
@import "../../../variables";
@import "../../../Themes/theme1";
@import "~@angular/material/theming";
@include angular-material-color($dark-theme);  
@import "~@angular/cdk/text-field/text-field";
@import "../home/home.component.scss";
@import "../../../reset";
///@group variables:
$warn: #ff1744;
$link-color: $warnColor;
.color-warn{
    color:$warnColor;
}
.bg-warn{
    background-color:$warnColor;
    color: white;
}
.signupForm{
    @include formulario(0);
    display: flex;
    flex-flow: column wrap;
}
button.btn-ext{
    margin-left: 30px;
    width: 220px;
}
.wrong-field{
    @include wrong-field();
}
.unicorn-dark-theme {
    @include angular-material-color($dark-theme);
  }