* {
    &:active,
    :focus {
      outline: none !important;  // 1
      text-decoration: none;
      border-width: 0px;
      outline:0; /* I have also tried outline:none */
        -webkit-appearance:none;
        box-shadow: none !important;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
  a{
    cursor: pointer;
  }
  }
  
  // a:not(.mat-button):not(.mat-raised-button):not(.mat-fab):not(.mat-mini-fab):not([mat-list-item]) {
  //     color: rgb(52, 58, 64); // 2
  //   }