$accentColor: #ef9a9a;
$warnColor:#ff1744;
$black: rgb(52, 58, 64);
$link-color: $accentColor;
// $link-hover-color:currentColor;
$link-hover-color: $accentColor;
$link-hover-decoration: none !important;
$label-margin-bottom: 0;

/* $grid-breakpoints: (
   xs: 0, // handset portrait (small, medium, large) | handset landscape (small)
   sm: 600px, // handset landscape (medium, large) | tablet portrait(small, large)
   lg: 1280px, // laptops and desktops
   xl: 1600px // large desktops
 );
*/
// $container-max-widths: (
//   sm: 600px,
//   md: 960px,
//   lg: 1280px,
//   xl: 16
// );