$accentColor: #ef9a9a;
$warnColor:#ff1744;
$black: rgb(52, 58, 64);
$link-hover-color: $accentColor;
$link-hover-decoration: none !important;
$label-margin-bottom: 0;
$black: rgb(52, 58, 64);
$sassPink: #bf4080;
$brokenWhite: #f2e9e8;
$brokenWhite1: #ece9e3;
$transparentWhite: rgba(255, 250, 250, 0.767);
$childrenWidth50: 50%;
$accentColor: #ef9a9a;
$link-color: $accentColor;
.mat-form-field{
  min-width: 50px;
  width: 220px;
  justify-content: space-between;
} 
// .mat-form-field-appearance-outline .mat-form-field-wrapper{
//   margin:50px;
// }
// div.mat-form-field-infix.ng-tns-c129-4{
//   margin-right: 200px;
//   padding:10px;
// }
/* $grid-breakpoints: (
   xs: 0, // handset portrait (small, medium, large) | handset landscape (small)
   sm: 600px, // handset landscape (medium, large) | tablet portrait(small, large)
   lg: 1280px, // laptops and desktops
   xl: 1600px // large desktops
 );*/

//  $grid-breakpoints: (
//    xs: 0, // handset portrait (small, medium, large) | handset landscape (small)
//    sm: 600px, // handset landscape (medium, large) | tablet portrait(small, large)
//    lg: 1280px, // laptops and desktops
//    xl: 1600px // large desktops
//  );


 $container-max-widths: (
   sm: 600px,
   md: 750px,
   lg: 1280px,
   xl: 1600
 );
 .formulario{
   max-width: 600px;
 }