/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid"; // add the grid
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/scss/bootstrap-reboot.scss";
@import "reset";
// html, body { height: 100%; width: 100%; }
// *{
//     margin: 0 auto;
// }
body, html{
        // width: 100%; 
        // width: 100vw;
        width: 100vw;
        height: 100vh;
        // box-sizing: content-box;
}
body { margin: 0 auto; font-family: Roboto, "Helvetica Neue", sans-serif; }
