@import "../../../variables";
@import "../../breakpoints";
@import "../../../Themes/theme1";
@import "~@angular/material/theming";
@include angular-material-color($dark-theme);
@include media(mobile, sm, tablet) {
    button.botonExplore {
        display: none;
    }
}
.unicorn-dark-theme {
    color: mat-color($dark-warn);
}
@include media(desktop) {
    button.botonExplore {
        display: inherit;
    }
}

.recommendedbody {
    display: flex;
    flex-direction: column;
}
h2 {
    text-align: center;
    // margin-left: 38%;
    // margin-top: 10px;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
div.recommendedsection {
    padding-top: 2px;
    .offers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
        mdb-card.eachcard {
            max-width: 300px;
            max-height: 380px;
            margin-right: 20px;
            margin-bottom: 20px;
            .imgdiv {
                max-height: 250px;
                mdb-card-img.ht {
                    height: 250px;
                    max-height: 250px;
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
            span.starting {
                // width: 75px;
                font-size: 20px;
                padding: 10px;
                font-weight: 800;
                margin-left: 8%;
            }
            .ratingP {
                display: flex;
                flex-direction: row;
                line-height: -1.1;
                span.reviewsNumber {
                    padding-top: 5px;
                    padding-left: 2px;
                    font-size: 15px;
                }
                span.rating {
                    padding-top: 5px;
                    padding-left: 3px;
                    padding-right: 3px;
                    font-size: 20px;
                    border-radius: 5px;
                }
            }
        }
    }
}

.btn-outline-accent.custom-btn {
    margin-left: 25%;
    color: $accentColor;
    border-color: $accentColor;
    border: 1px solid $accentColor;
    text-decoration: none;
    &:hover {
        background-color: inherit;
        color: $accentColor;
        border-radius: 5px;
        border: 2px solid $accentColor;
    }
    &:active,
    :focus {
        background-color: inherit;
        text-decoration: none;
        border: 3px solid $accentColor;
        border-radius: 5px;
        color: $accentColor;
        &:not(:disabled):not(.disabled):active {
            background-color: inherit;
            text-decoration: none;
            border: 3px solid $accentColor;
            border-radius: 5px;
            color: $accentColor;
        }
    }
}
