@import "../../../variables";
@import "../../breakpoints";
@import "../../../Themes/theme1";
@import "~@angular/material/theming";
@include angular-material-color($dark-theme);
@include media(mobile, sm, tablet) {
    button.botonExplore {
        display: none;
    }
    div.recommendedsection {
        h2 {
            margin-left: 15%;
        }
    }
}
.unicorn-dark-theme {
    color: mat-color($dark-accent);
}
@include media(desktop) {
    button.botonExplore {
        display: inherit;
    }
    div.recommendedsection {
        margin-top: 5%;
        h2 {
            margin-left: 35%;
            margin-bottom: 2%;
        }
    }
}

.recommendedbody {
    display: flex;
    flex-direction: column;
}
h2 {
    //text-align: center;
    margin-left: 38%;
    // margin-top: 10px;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
div.recommendedsection {
    padding-top: 2px;
    .offers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
        mdb-card.eachcard {
            max-width: 300px;
            max-height: 380px;
            margin-right: 20px;
            box-shadow: 5px 10px #cfe08f;
            -webkit-box-shadow: 5px 5px 9px 1px #ffc667;
            box-shadow: 5px 5px 9px 1px #ffc667;
            // border-radius: 0px;
            // background: #ffffff;
            // box-shadow: 7px 7px 14px #858585, -7px -7px 14px #ffffff;

            margin-bottom: 20px;
            .imgdiv {
                max-height: 250px;
                mdb-card-img.ht {
                    height: 250px;
                    max-height: 250px;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
            // AQUII
            
            mdb-card-body {
                
                button{
                    line-height: 80%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                mdb-card-title.hotelName {      
                    h3{
                        line-height: 120%;
                    font-weight: 500;
                    font-size: 17px;
                    &:hover{
                        font-weight: 600;
                        // font-size: 20px;
                    }
                }
                }
                p.text-body {
                    line-height: 80%;
                }
                span.starting {
                    // width: 75px;
                    font-size: 20px;
                    padding: 10px;
                    font-weight: 800;
                    margin-left: 8%;
                }
                .ratingP {
                    display: flex;
                    flex-direction: row;
                    .reviewsNumber {
                    //     padding-top: 5px;
                    //     padding-left: 5px;
                        font-size: 15px;
                    }
                    .rating {
                    //     padding-top: 3px;
                    //     padding-left: 6px;
                    //     padding-right: 2px;
                        font-size: 20px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}

.btn-outline-accent.custom-btn {
    margin-left: 5%;
    color: $accentColor;
    border-color: $accentColor;
    border: 1px solid $accentColor;
    text-decoration: none;
    &:hover {
        background-color: inherit;
        color: $accentColor;
        border-radius: 5px;
        border: 2px solid $accentColor;
    }
    &:active,
    :focus {
        background-color: inherit;
        text-decoration: none;
        border: 3px solid $accentColor;
        border-radius: 5px;
        color: $accentColor;
        &:not(:disabled):not(.disabled):active {
            background-color: inherit;
            text-decoration: none;
            border: 3px solid $accentColor;
            border-radius: 5px;
            color: $accentColor;
        }
    }
}
