<h2>Recommended by other travelers!</h2>
<div class="offers">
    <ng-container *ngFor="let hotel of dataList">
        <mdb-card class="eachcard" *ngIf="hotel.recommended">
            <div class="view imgdiv rgba-white-slight waves-light" mdbWavesEffect>
                <mdb-card-img src="./../../{{hotel.imgD}}" alt="img {{hotel.name}}" class="ht"></mdb-card-img>
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <mdb-card-body>
                <mdb-card-title>
                    <a><h4>{{hotel.name}}</h4></a>
                </mdb-card-title>
                <mdb-card-text> {{hotel.description}}
                </mdb-card-text> 
                <!-- <a href="#" color="pink" mdbWavesEffect>Explore</a> -->
                <button class="btn btn-outline-accent custom-btn my-2 my-sm-0" type="submit">Explore ></button>
            </mdb-card-body>
        </mdb-card>
    </ng-container>
</div>