<div class="recommendedsection">
    <h2>
        <span class="material-icons unicorn-dark-theme">
            arrow_upward
        </span>
        <span class="material-icons unicorn-dark-theme">
            arrow_upward
        </span>
        Top hotels that our travelers love! <i class="fas fa-heart unicorn-dark-theme"></i>
    </h2>

    <div class="offers ">
        <ng-container *ngFor="let hotel of dataList | slice:0:5; let i=index" class="carousel" (click)="onClick(hotel)">


            <mdb-card class="eachcard" *ngIf="hotel.recommended">
                <div class="view imgdiv rgba-white-slight waves-light" mdbWavesEffect>
                    <a [routerLink]="['/hotel', hotel.id]">
                        <mdb-card-img src="./../../assets/sm/{{hotel.name}}.jpg" alt="img {{hotel.name}}" class="ht">
                        </mdb-card-img>
                    </a>
                </div>
                <mdb-card-body>
                    <mdb-card-title class="hotelName text-warning">
                        <a [routerLink]="['/hotel', hotel.id]">
                            <h3>{{hotel.name}}</h3>
                        </a>
                    </mdb-card-title>
                    <p class="text-body">
                        <!-- <a >  -->
                        {{ hotel.city}}, {{ hotel.province }}
                        <!-- </a> -->
                    </p>
                    <!-- <ng-container *ngFor="let reviews of hotel.reviews"> -->
                    <!-- instead of {{hotel.reviews.length}} and {{hotel.rating}}: -->
                    <div class="ratingP d-flex justify-content-around pb-2 my-3">
                        <!-- <a>  -->
                        <div class="rating text-white bg-secondary my-2 py-2 px-2"> 4,5 </div> <div class="reviewsNumber my-auto mx-auto">25
                            reviews</div>
                        <!-- </a> -->
                        <div class="my-auto">
                        <a mat-raised-button type="submit" [routerLink]="['/hotel', hotel.id]" color="accent">Explore ></a>
                        </div>
                    </div>

                </mdb-card-body>
            </mdb-card>
        </ng-container>
    </div>
</div>